body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    padding: 10px;
    background-color: hsla(232, 97%, 30%);
  }
  
  header ul{
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    float: right;
    display: inline-flex;
  }
  
  header li {
    padding: 0 30px;
    float: left;
  }

  .navigation-bar {
    padding: 1rem;
}
a {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
  
#logo {
    float: left;
    max-height: 50px;
    width: auto;
    display: inline;
  }

h1 {
    color: rgb(0, 34, 114);
    font-family: 'Bitter', serif; 
    font-size: 45px; 
    font-weight: bold;  
    padding-top: 50px; 
    text-transform: uppercase; 
    text-align: center;
}

h2 {
    color: rgb(252, 252, 252);
    font-family: "Noto Sans", sans-serif; 
    font-size: 30px; 
    font-weight: normal;  
    text-transform: uppercase; 
    text-align: center;
}

h5 {
    color: rgb(252, 252, 252);
    font-family: "Noto Sans", sans-serif; 
    font-size: 14px; 
    font-weight: normal;  
    text-transform: uppercase; 
    text-align: center;
}

.textUpdate{
    color: rgb(252, 252, 252);
    font-family: "Noto Sans", sans-serif; 
    font-size: 12px; 
    font-weight: normal;  
    float: right;
}

.container {
    margin: 70px auto;
    margin-bottom: 0px;
    min-height: 100vh;
    color: rgba(6, 103, 194, 0.973);
  }

  footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: center;
        padding:10px;
        background-color: hsla(232, 97%, 30%);
  }

  .footer{
    color: rgb(252, 252, 252);
    font-family: "sans", sans-serif; 
    font-size: 12px; 
    font-weight: normal;  
    

